<h1>Log in</h1>

<%= form_for(:session, url: login_path) do |f| %>
	<div class="field">
		<%= f.label :email, "Email:" %><br>
		<%= f.text_field :email %>
	</div>

	<div class="field">
		<%= f.label :password, "Password:" %><br>
		<%= f.password_field :password %>
	</div>

	<%= f.label :remember_me, class: "checkbox inline" do %>
	  <%= f.check_box :remember_me, checked: true %>
	  <span>Remember me</span>
	<% end %>

	<div class="actions">
		<%= f.submit "Log in", :class => "button" %>
	</div>
<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>
