<%= form_for(@stakeholder) do |f| %>
  <% if @stakeholder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stakeholder.errors.count, "error") %> prohibited this stakeholder from being saved:</h2>

      <ul>
      <% @stakeholder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :business_name, "Business/Organization Name:" %><br>
    <%= f.text_field :business_name %>
  </div>  

  <div class="field">
    <%= f.label :email, "Email:" %><br>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password, "Password:" %><br>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Password Confirmation:" %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :role, "I am a:" %><br>
    <%= f.radio_button :role, 'donor' %> 
    <%= label :role_donor, 'business (donor)' %>
    <%= f.radio_button :role, 'recipient' %>
    <%= label :role_recipient, 'organization (recipient)' %>
  </div>

  <div class="actions">
    <%= f.submit "Create my account", :class => "button" %>
  </div>
<% end %>
