<%= form_for(setup_donation(@donation)) do |f| %>
  <% if @donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% @donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pickup_start %><br>
    <%= f.datetime_select :pickup_start, :ampm => true, :minute_step => 10 %>
  </div>
  <div class="field">
    <%= f.label :pickup_end %><br>
    <%= f.datetime_select :pickup_end, :ampm => true, :minute_step => 10 %>
  </div>
  <div class="field">
    <%= f.label :recipient_id %><br>
    <%= f.collection_select :recipient_id, @recipients, :id, :business_name %>
  </div>

  <%= f.fields_for :food_portion do |builder| %>
    <div class="field">
      <%= builder.label :raw_amount, "Raw Amount:" %>
      <%= builder.text_field :raw_amount, size: 5 %> lbs.
    </div>
    <div class="field">
      <%= builder.label :processed_amount, "Processed Amount:" %>
      <%= builder.text_field :processed_amount, size: 5 %> lbs.
    </div>
    <div class="field">
      <%= builder.label :description, "Description" %><br>
      <%= builder.text_area :description, rows: 3 %>
    </div>
    <div class="field">
      <%= builder.label :image_url, "Image" %>
      <%= builder.text_field :image_url %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
